@tailwind base;
@layer base {
  * {
    @apply transition-all ease-in-out duration-150;
  }
}
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
  // font-family: 'Space Mono', monospace;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
